
__pycache__/
*.py[cod]
*.so


venv/
.env/
ENV/
env/
.venv/


.vscode/
.idea/


*.log
logs/
data/raw_logs/
data/normalized/
metrics/

__pycache__/
*.pyc
.env/
.vscode/
*.log
*.pkl
models/
data/normalized/
metrics/
logs/
